$background-color: #1A2A33;
$dark-shadow-color: #10212A;
$gray-box-background:#1F3641;
$primary-text-color: #1A2A33;
$gray-300-text-color: #A8BFC9;
$gray-300:#A8BFC9;
$gray-600-text-color:#637B85;
$orange-color:#f2b137;
$orange-shadow-color:#cc8b13;
$blue-color:#31c3bd;
$blue-shadow-color:#118c87;
